:root {
    --primary-color: #174C4F;
    --accent-color: #f2e0e0;
    --header-background: rgba(242, 224, 224, 0.3); 
    --body-font-family: 'Work Sans', sans-serif;   
    --heading-font-family: 'Libre Baskerville', serif;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 60px;
    font-weight: 800;
}

p, body {
    font-family: var(--body-font-family);  
    font-size: 18px;
    line-height: 1.5;
}

.hero {
    text-align: center;
    background-color: var(--header-background);
    padding: 100px 20px;
}
h2 {
    font-size: 36px;
    font-family: var(--heading-font-family);
    font-weight: 600;
}

.hero p {
    font-size: 36px;
    font-weight:700;
}

.hero h2 {
    font-family: var(--body-font-family);
    font-size: 32px;
    margin-top: 20px;

}
.btn-primary {
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 30px;
    transition: ease-in-out
}
.btn-primary:hover {
    font-weight: 800;
    cursor: pointer;
    background-color:var(--accent-color);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
}
.btn-accent{
    font-size: 18px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--header-background);
    padding: 10px 20px;
    text-decoration: none;
    transition: ease-in-out
}
.btn-accent:hover {
    font-weight: 800;
    cursor: pointer;
    background-color:var(--accent-color);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
}
.project-description {
    padding: 30px 60px;
}
.work-section{
    padding: 0 40px 0 40px;
}
.about-header{
    padding: 50px;
}
.about-header h1{
    font-size: 32px;
}
.about-header h2{
    font-size:18px;
}
.about-header p {
    font-size: 16px;
}
.about-header-content {
    padding-top: 100px;
}
@media (max-width: 984px)
{
    .project-description{
        padding: 0 30px;
        text-align: center;
    }
    .about-header {
        text-align: center;
    }
}